################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChessTest/obj
/ChessTest/bin/Debug/net5.0
/.vs/